.footer {
  background: #121721;
  padding: 25px 23px;
  color: #fff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-top: auto;
}

.footer span a {
  color: #547ec7;
}

.footer span a:hover {
  color: #fff;
}