@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*html, body {
  height: 100%;
}*/

body {
  background-color: #0c0f16;
  /*display: flex;
  flex-direction: column;*/
}

.maxwidth {
  max-width: 1300px;
  padding: 0 10px;
  margin: auto;
}



section {
  padding: 50px 0;
}

@media(max-width: 690px) {
  section {
    padding: 20px 0;
  }
}

.top {
  color: #fff;
  display: flex;
  background: url("../public/banner_top_v5.jpg") no-repeat center;
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;

}

.top .maxwidth {
  width: 100%;
  display: flex;
}

.top .topcontent .text1 {
  font-size: 25px;
}

.top .topcontent .text2 {
  font-size:55px;
  font-weight: 400;
  margin-left: -3px;
}

.top .topcontent .text3 {
  font-size: 32px;
  margin: 5px 0;
}

.top .topcontent a {
  display: inline-block;
  background: #b02ab7;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 300;
  border-radius: 6px;
  border: 2px solid #b02ab7;
  transition: all 0.3s ease;
}

.top .topcontent a:hover {
  
  color: #b02ab7;
  background: none;
}



.premium {
  color: #fff;
  background-color: #151921;
  font-family: 'Poppins', sans-serif;  
}

.premium .title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 35px;
  font-weight: 400;
}

.premium .premiumcontent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.premium .premiumcontent .left {
  width: 45%;
}

.premium .premium-content .left img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 6px;
}

.premium .premiumcontent .right {
  width: 55%;  
}

.premium .premiumcontent .right .text {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}

.premium .premiumcontent .right p {
  text-align: justify;
}

.premium .premiumcontent .right a {
  display: inline-block;
  background: #b02ab7;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #b02ab7;
  transition: all 0.3s ease;
}

.premium .premiumcontent .right a:hover {
  color: #b02ab7;
  background: none;
}

@media (max-width: 1104px) {
  .premium .premiumcontent .left img {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 947px) {
  .premium .premiumcontent .column {
    width: 100%;
  }

  .premium .premiumcontent .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .premium .premiumcontent .right {
    flex: 100%;
  }
}